*{
    margin: 0;
    padding: 0;
}
body{
    min-height:2250px;
}
.banner{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}
.banner img{
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}  
#bg{
    position:absolute;
    width: 100%;
    height:100%;
    background: #fff url(heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100px;
    mix-blend-mode: screen;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#bg::before{
    content: 'Alles Gute zum Geburtstag Mimityyy';
    margin-top: 174px;
    font-size: 40px;
}
/*     text-shadow: 4px 4px 4px #aaa;   */
.text{
    font-family: 'Tangerine', serif;
    font-size: 65px;
    font-weight: 900;
    margin: 14px auto;
    padding: 2rem;
    color: #25857a;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
    width:100%;
    text-align: center;
}

.special{
    font-size:80px;
    color: #ffb9b2;
}